.casos_exito{
  height: 392px;
  background: linear-gradient(to left, #1F7667, #6CC6DA);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 40px;
}

.rounded{
  border-radius: 50%;
}
.casos_exito_box{  
  width: 480px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.casos_exito_titulo{
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
}

.casos_exito_contenido{
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 30px;
}
.casos_exito_autor{
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 10px;
}
.casos_exito_autor-tipo{
  font-weight: 700;
}

.casos_exito_button{
  background-color: black;
  color: white;
  padding: 12px 15px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}