:root {
  --casos_testimonio_nlineas: 4;
}

body {
  background-color: #1D1D1B;
}

.casos_exito {
  height: 360px;
  background: linear-gradient(to left, #1F7667, #6CC6DA);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 40px;

  @media(max-width:1200px) {
    display: none;
  }
}

.casos_exito_movile {
  display: none;

  @media(max-width:600px) {
    padding-top: 50px;
    display: flex;
    height: 550px;
    align-items: start;
    justify-content: center;
    color: white;
    gap: 40px;
    background: linear-gradient(to left, #1F7667, #6CC6DA);
    position: relative;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    padding-top: 50px;
    display: flex;
    height: 613px;
    align-items: start;
    justify-content: center;
    color: white;
    background: linear-gradient(to left, #1F7667, #6CC6DA);
    position: relative;
  }

}



.casos_exito_box_images {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.casos_exito_box_contenido {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;

  @media(max-width:600px) {
    margin-top: 17px;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    margin-top: 52px;


  }
}

.img_caso {
  width: 145px;
  height: 145px;
}

.rounded {
  border-radius: 50%;
}

.casos_exito_box {
  width: 480px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  @media(min-width:1200px) {
    height: 100%;
    position: relative;
    align-self: self-start;
    padding-top: 40px;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    width: 580px;
  }
}

.casos_exito_titulo {
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;

  @media(max-width:600px) {
    font-size: 32px;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    font-size: 40px;
  }
}

.casos_exito_contenido {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 30px;
  line-height: 28px;
  max-height: calc(28px * var(--casos_testimonio_nlineas));
  overflow: hidden;

  @media(max-width:600px) {
    font-size: 14px;
    width: 250px;
    line-height: 18px;
    max-height: calc(18px * var(--casos_testimonio_nlineas));
    overflow: hidden;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    font-size: 22px;
    width: 480px;
    margin: 0px 40px 16px;
    line-height: 28px;
    max-height: calc(28px * var(--casos_testimonio_nlineas));
    overflow: hidden;
  }
}

.casos_exito_leer_mas {
  display: flex;
  flex-direction: column;
}

.casos_exito_contenido_leer_mas {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;

  @media(max-width:600px) {
    font-size: 14px;
    width: 250px;
    line-height: 18px;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    font-size: 22px;
    width: 480px;
    margin: 0px 40px;
    line-height: 28px;
  }
}

.casos_exito_autor {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 10px;

  @media(max-width:600px) {
    margin-bottom: 30px;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    margin-bottom: 30px;
  }
}

.casos_exito_autor-tipo {
  font-weight: 700;
}

.casos_exito_button {
  background-color: black;
  color: white;
  padding: 12px 15px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;

  @media(max-width:600px) {
    font-size: 16px;
    width: 240px;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    font-size: 20px;
    width: 300px;
  }
}

.casos_exito_bottom {
  width: 300px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);

  @media(min-width:1200px) {
    bottom: 20px;
  }
}

.casos_exito_flecha {
  cursor: pointer;
}

.conocenos_section {
  display: flex;
  background-color: #1D1D1B;
  color: white;
  padding: 100px;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  gap: 100px;
  align-items: center;

  @media(max-width:600px) {
    flex-direction: column;
    gap: 30px;
    padding: 60px;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    flex-direction: column;
    gap: 30px;
    padding: 155px;
  }
}

.conocenos_box_text {
  width: 620px;

  @media(max-width:600px) {
    width: 296px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    width: 495px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.conocenos_imagenes {
  position: relative;
  margin-bottom: 20px;

  @media(max-width:600px) {
    margin-bottom: 10px;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    margin-bottom: 25px;
  }
}

.conocenos_imagenes_fundador_mundo {
  position: absolute;
  right: -25px;
  top: -20px;

  @media(max-width:600px) {
    width: 45px;
    height: 45px;
    right: 0px;
    top: -10px;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    width: 69px;
    height: 69px;
    right: -30px;
    top: -20px;
  }
}

.conocenos_imagenes_fundador {
  @media(max-width:600px) {
    width: 116px;
    height: 114px;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    width: 178px;
    height: 176px;
  }
}

.conocenos_fundador {
  @media(max-width:600px) {
    font-size: 12px;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    font-size: 16px;
  }
}


.conocenos_text_title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;

  @media(max-width:600px) {
    font-size: 24px;
    text-align: center;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    font-size: 45px;
  }
}

.conocenos_text_parrafo {
  font-size: 20px;
  margin-bottom: 20px;

  @media(max-width:600px) {
    font-size: 14px;
    text-align: center;
    width: 265px;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    font-size: 20px;
    text-align: center;
  }
}

.conocenos_text_parrafo br {
  @media(min-width:600px) and (max-width: 1200px) {
    display: none;
  }
}

.conocenos_box_fundador {
  text-align: center;
}

.formulario {
  background-color: #1D1D1B;
  display: flex;
  color: white;
  gap: 70px;
  align-items: center;
  justify-content: center;
}

.formulario_box {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  align-items: start;
  flex-grow: 6;

  @media(max-width:600px) {
    align-items: center;
    width: 250px;

  }

  @media(min-width:600px) and (max-width: 1200px) {
    align-items: center;
    width: 550px;
  }
}

.formulario_imagen_box {
  margin-left: 20px;
  flex-grow: 4;
  display: flex;
  justify-content: center;

  @media(max-width:600px) {
    display: none;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    display: none;
  }
}

.formulario_box_titulo {
  font-size: 40px;
  margin-bottom: 30px;

  @media(max-width:600px) {
    font-size: 30px;
    width: 340px;
    text-align: center;
    line-height: 48px;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    font-size: 40px;
    text-align: center;
    line-height: 48px;
  }
}

.formulario_box_label {
  font-size: 20px;
  font-weight: 600;

  @media(max-width:600px) {
    width: 100%;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    width: 100%;
  }
}

.formulario_box_input {
  all: unset;
  height: 36px;
  width: 544px;
  padding: 8px 12px;
  background: linear-gradient(180deg, #1D1D1B 77.26%, #1F7667 100%);
  margin-bottom: 20px;
  font-size: 20px;
  border-radius: 6px;
  @media(max-width:600px) {
    width: 230px;
    border-radius: 6px;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    border-radius: 6px;
  }
}

.formulario_box_button {
  all: unset;
  padding: 12px 47px;
  border-radius: 8px;
  background: #1F5C51;
  color: #FFF;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  margin: auto;
  cursor: pointer;

  @media(max-width:600px) {
    padding: 12px;
  }
}

.footer {
  background-color: #1D1D1B;
  display: flex;
  color: white;
  justify-content: center;
  padding: 60px;
  font-size: 20px;

  @media(max-width:600px) {
    font-size: 14px;
  }

  @media(min-width:600px) and (max-width: 1200px) {
    font-size: 20px;
    padding: 196px 0px 96px;
  }
}


