/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --base-font-size: 1rem;
}

html{
    font-size: var(--base-font-size)
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #1D1D1B;
    color: #FFFFFF;
}

/* SCROLLBAR */

.body::-webkit-scrollbar {
    width: 5px;
}

.body::-webkit-scrollbar-thumb {
    background: #338B86;
    border-radius: 4px;
}

.body::-webkit-scrollbar-thumb:active {
    background-color: #338B86;
}

.body::-webkit-scrollbar-thumb:hover {
    background: #2b706d;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.0);
}

.body::-webkit-scrollbar-track {
    background: rgba(29, 29, 27, 0.0);
    border-radius: 4px;
}

.body::-webkit-scrollbar-track:hover, 
.body::-webkit-scrollbar-track:active {
    background: rgba(29, 29, 27, 0.0);
}

/* PARTICULAS */

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

/* ONDAS DE FONDO */

.divOndas{
    width: 100vw;
    display: inline-block;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.onda1{
    background-image: url(../img/ondas-1.png);
    position: absolute;
    height: 500px;
    width: 100%;
    margin-top: -50vh;
    overflow: hidden;
    opacity: 0.1;
}

.onda2{
    background-image: url(../img/ondas-2.png);
    position: absolute;
    height: 500px;
    width: 100%;
    margin-top: 60vh;
    overflow: hidden;
    opacity: 0.5;
}

/*NAVBAR*/

.header{
    z-index: 100;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(63, 167, 161, 0.2), rgba(51, 139, 134, 0.0) );
    border-bottom-width: 1px;
    font-weight: bold;
    position: fixed;
}

.header.blur{
    transition: .2s;
    background-color: rgba(29, 29, 27, 0.4);
    backdrop-filter: blur(15px);
}

.logo.nav{
    width: 30%;
    margin-right: 10%;
}

.nav{
    width: 70%;
}

.nav .nav-list .li .nav-button,
.nav .nav-list .li .nav-button:after,
.nav .nav-list .li .nav-button:before {
    transition: all .5s;
}
.nav .nav-list .li .nav-button:hover {
    color: #FFFFFF;
}

.nav .nav-list .li .nav-button{
    position: relative;
}
.nav .nav-list .li .nav-button:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #dfdfdf;
    height: 1px;
}

.nav .nav-list .li .nav-button:hover:after {
    width: 100%;
}

.nav-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 5%;
}

.nav-button{
    text-decoration: none;
    color: #FFFFFF;
    padding-bottom: 5px;
}

.nav-button2{
    text-decoration: none;
    color: #FFFFFF;
    padding: 7%;
    transition: .7s;
    background: linear-gradient(120deg, var(--c1, #245a57), var(--c2, #338B86) 51%, var(--c1, #245a57)) var(--x, 0)/ 200%;
    background-size: 300% 100%;
    border-radius: 15px;
    margin-left: -7%
}

.logo-img{
    width: 100%;
    height: 70px;
    margin-left: 20%;
}

.logo-nav:hover{
    transition: .5s;
    filter: drop-shadow(0 2px 5px rgba(51, 139, 134, 0.7));

}

.abrir-menu{
    display: none;
}

.cerrar-menu{
    display: none;
}

/* MAIN SECTION */

.main-page{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 100px;
    position: relative;
    z-index: 99;
}

.cotizaBtn{
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 24px;
    font-weight: 600;
    padding: 3.5%;
    margin-left: -7%;
    transition: .7s;
    background: linear-gradient(120deg, var(--c1, #245a57), var(--c2, #338B86) 51%, var(--c1, #245a57)) var(--x, 0)/ 200%;
    background-size: 300% 100%;
    /* margin-left: 70px; */
}

.cotizaBtn:hover, .nav-button2:hover{
    --x: 100%;
    filter: drop-shadow(0 2px 5px rgba(51, 139, 134, 0.7));

}

/* TITULO */

.title{
    display: flex;
    width: 50vw;
    height: 10rem;
    z-index: 20;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 1.5%;
}

.main-title{
    margin-left: 7%;
    color: #FFF;
    font-family: Montserrat;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.typed{
    background: linear-gradient(120deg, #245a57, #338B86);
    background-clip: text;
    color: transparent;
}

/* IMAGEN PRINCIPAL */

.main-img{
    display: flex;
    align-items: center;
    width: 47vw;
    height: 100vh;
    position: relative;
}

.main-img:hover{
    transition: 1s;
    filter: drop-shadow(0 2px 5px rgba(51, 139, 134, 0.7));
}

.caraSt{
    width: 100%;
    padding-right: 15px;
    position: absolute;
}

.main1{
    z-index: 10;
    animation: 3s infinite alternate linear rightnleft;
}

.main2{
    z-index: 12;
    animation: 3s infinite alternate linear leftnright;
}

.main3{
    z-index: 15;
}

/* SCROLL DOWN ANIMADO */

.scroll-down{
    position: absolute;
    color: #338B86;
    width: 17px;
    height: 28px;
    bottom: 80px;
    margin: auto;
    right: 0;
    left: 0;
    z-index: 150;
    cursor: pointer;
}

.scroll-down::before{
    display: block;
    position: relative;
    content: "";
    width: 25px;
    padding: 1px;
    height: 45px;
    border: 3px solid #338B86;
    border-radius: 100px;
    box-sizing: content-box;
}

.scroll-down::after {
    display: block;
    position: relative;
    content: "";
    width: 20px;
    height: 20px;
    bottom: 45px;
    right: 3px;
    border-radius: 100%;
    background-color: #338B86;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
}

.scroll-down:hover{
    transition: .5s;
    filter: drop-shadow(0 2px 5px rgba(51, 139, 134, 0.7));
}

/* KEYFRAMES */

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translate(50%, 0px);
    }
    10% {
        transform: translate(50%, 0px);
        opacity: 1;
    }
    100% {
        transform: translate(50%, 20px);
        opacity: 0;
    }
}
@keyframes upndown {
    from {
        margin-bottom: -1.5%;
    }

    to {
        margin-bottom: 1.5%;
    }
}
@keyframes leftnright {
    from {
        margin-left: -1.5%;
    }

    to {
        margin-left: 1.5%;
    }
}
@keyframes rightnleft {
    from {
        margin-left: 1.5%;
    }

    to {
        margin-left: -1.5%;
    }
}

/* RESPONSIVE - MEDIA QUERYS */

/* 2K/4K */

@media (min-width: 1600px){
    .main-title{
        margin-bottom: 5%;
    }
}

/* BR */

@media (min-width: 1205px){
    .br{
        display: none;
    }
}

@media (max-width: 1204px){
    .main-title{
        margin-left: 0;
        margin-top: -7%;
    }
    .cotizaBtn{
        margin-left: -10%;
    }
}

/* - TABLET - */

@media (max-width: 834px) {
    
.box{
    width: 40px;
    height: 5%;
}

.scroll-down{
    display: none;
}

#burguer {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 40px;
    background: white;
    position: absolute;
    display: block;
    content: '';
    background:#FFF;
}

#burguer, #burguer:after, #burguer:before {
    transition: all 200ms ease-in-out;
    border-radius: 1px;
    height: 3px;
    width: 37px;
    background: white;
    position: absolute;
    display: block;
    content: '';
    background:#fff;
}

#burguer:before {
    top: -10px;
}
#burguer:after {
    bottom: -10px; 
}

#burguer.active {
    transition: 0;
    background-color: transparent;
  }
  #burguer.active:before, #burguer.active:after {
    top: 0;
  }
  
  #burguer.active:after {
    transform: rotate(-45deg);
  }
  
  #burguer.active:before {
    transform: rotate(45deg);
  }

    .onda2{
        margin-top: 70vh;
        opacity: 0.5;
    }
    .caraSt{
        padding: 0;
    }
    .header{
        flex-direction: row;
        padding-right: 1rem;
        padding-left: 1rem;
        justify-content: space-around;
    }
    .align{
        width: 60px;
        height: 24px;
        border-style: solid;
        border-color: rgba(29, 29, 27, 0.0);
    }
    .logo-img{
        align-self: center;
        margin-bottom: 0;
        margin-left: 0;
    }
    .main-page{
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 100px;
    }
    .title{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding-top: 10vh;
        position: relative;
    }
    .main-title{
        width: 90vw;
        text-align: center;
        margin-bottom: 20px;
        margin-left: 0;
    }
    .cotizaBtn{
        margin-left: auto;
        margin-right: auto;
    }
    .main-img{
        position: relative;
        width: 90%;
        height: 100%;
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
        transition: .5s;
    }
    .mobile{
        transition: .2s;
        background: linear-gradient(180deg, rgba(63, 167, 161, 0.2), rgba(29, 29, 27, 0.970) );
        border-bottom: solid 3px #338B86;
        height: 103px;
    }

    .nav{
        transition: .5s;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        gap: 2rem;
        top: 103px;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(29, 29, 27, 0.970);
        justify-content: start;
        z-index: 30;
    }

    .nav-list{
        padding-top: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        font-size: 1.3rem;
        margin-left: 0;
        padding-left: 0;
    }

    .cerrar-menu{
        display: block;
        visibility: hidden;
        opacity: 0;
        border: none;
        background-color: rgba(29, 29, 27, 0.0);
        transition: .5s;
        cursor: not-allowed;
    }
    .cerrar-menu.visible{
        visibility: visible;
        opacity: 1;
        transition: .5s;
        cursor: not-allowed;
    }

    .menuOpenBtn{
        width: 100%;
        height: 2rem;
    }
    .menuCloseBtn{
        width: 100%;
        height: 1.5rem;
    }
}

@media (max-width: 487px) {
    .main-title{
        margin-bottom: 20px;
    }
    .main-img{
        margin-top: 2%;
    }
    .onda2{
        margin-top: 70vh;
    }
}

/* MOBILE */

@media (max-width: 390px) {
    .logo-img{
        height: 60px;
    }
}

@media (max-width: 320px) {
    .menuCloseBtn
    {
        height: 1rem;
    }
    .menuOpenBtn{
        height: 1.5rem;
    }
    .main-title{
        width: 80vw;
        font-size: 1.7rem;
    }
    .logo-img{
        height: 50px;
    }
}