body{
    font-family: 'Montserrat', sans-serif;
    background-color: #1D1D1B;
    color: #FFFFFF;
}

/*NAVBAR*/

.header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border-bottom-style: solid;  */
    /* border-bottom-color: #338B86; */
    background: linear-gradient(180deg, rgba(63, 167, 161, 0.2), rgba(51, 139, 134, 0.0) );
    border-bottom-width: 1px;
    font-weight: bold;
    position: fixed;
    background-color: rgba(29, 29, 27, 0.4);
    backdrop-filter: blur(15px);
}

.header.blur{
    background-color: rgba(29, 29, 27, 0.4);
    backdrop-filter: blur(15px);
}

.logo.nav{
    width: 30%;
    margin-right: 10%;
}

.nav{
    width: 70%;
}

.nav .nav-list .li .nav-button,
.nav .nav-list .li .nav-button:after,
.nav .nav-list .li .nav-button:before {
    transition: all .5s;
}
.nav .nav-list .li .nav-button:hover {
    color: #FFFFFF;
}

.nav .nav-list .li .nav-button{
    position: relative;
}
.nav .nav-list .li .nav-button:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #dfdfdf;
    height: 1px;
}

.nav .nav-list .li .nav-button:hover:after {
    width: 100%;
}

.nav-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 5%;
}

.nav-button{
    text-decoration: none;
    color: #FFFFFF;
    padding-bottom: 5px;
}

.nav-button2{
    text-decoration: none;
    color: #FFFFFF;
    padding: 7%;
    transition: 1s;
    background: linear-gradient(120deg, var(--c1, #245a57), var(--c2, #338B86) 51%, var(--c1, #245a57)) var(--x, 0)/ 200%;
    background-size: 300% 100%;
    border-radius: 15px;
}

.logo-img{
    width: 100%;
    height: 70px;
    margin-left: 20%;
}

.logo-nav:hover{
    transition: .5s;
    filter: drop-shadow(0 2px 5px rgba(51, 139, 134, 0.7)); 

}

/* MAIN SECTION */

.cotizaBtn{
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 24px;
    font-weight: 600;
    padding: 3.5%;
    transition: 1s;
    background: linear-gradient(120deg, var(--c1, #245a57), var(--c2, #338B86) 51%, var(--c1, #245a57)) var(--x, 0)/ 200%;
    background-size: 300% 100%;
}

.cotizaBtn:hover, .nav-button2:hover{
    --x: 100%;
    filter: drop-shadow(0 2px 5px rgba(51, 139, 134, 0.7)); 

}

.main-page{
    width: 100%;
    max-width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title{
    width: 100%;
    margin-left: 10%;
}

.main-title{
    width: 40.9375rem;
    color: #FFF;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 35px;
}

.main-img{
    width: 100%;
    animation: 1s infinite alternate upndown2;
}

.main-img:hover{
    transition: 1s;
    filter: drop-shadow(0 2px 5px rgba(51, 139, 134, 0.7)); 
}

.caraSt{
    width: 43.375rem;
    height: 30.6875rem;
    flex-shrink: 0;
}

.typing{
    padding-right: 5px;
    display: block;
    color: #2c7773;
    border-right: .15em solid #ffffff;
    width: 12ch;
    overflow: hidden;
    white-space: nowrap;
    animation: typed 4s steps(12), blink .5s infinite step-end alternate;
}

@keyframes typed {
    from {
        width: 0;
    }
    to {
        width: 50%;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.scroll-down{
    margin-bottom: 3%;
    align-self: flex-end;
    color: #FFFFFF;
    
}

@keyframes upndown {
    from {
        margin-bottom: 0%;
    }

    to {
        margin-bottom: 50%;
    }
}

@keyframes upndown2 {
    from {
        margin-bottom: -.2%;
    }

    to {
        margin-bottom: .2%;
    }
}

.scroll-down:hover{
    color: #338B86;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 1000,
    'GRAD' 0,
    'opsz' 24;
    animation: 1s infinite alternate upndown;
}

